.page-container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .page-title {
    margin-top: 10px;
    text-align: center;
  }

  .todo-list  {
    margin-top: 10px;
  }
}